{# {% set page_author = "Alfred Anyan" %} #}
{% extends "en/content-layout.njk" %} 

{% block content %}
<div>
  <h1>This is the shop file</h1>
  <h2>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, sint!
  </h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo facilis
    dolore possimus cupiditate obcaecati et, cumque expedita tempore, nihil id,
    nulla sint deserunt dicta aliquam quo eum ratione laudantium quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo facilis
    dolore possimus cupiditate obcaecati et, cumque expedita tempore, nihil id,
    nulla sint deserunt dicta aliquam quo eum ratione laudantium quidem.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo facilis
    dolore possimus cupiditate obcaecati et, cumque expedita tempore, nihil id,
    nulla sint deserunt dicta aliquam quo eum ratione laudantium quidem.
  </p>
</div>

{% endblock %}
